<% @post.comments.each do |comment| %>
  <p>Author: <%= comment.author.email %></p>
  <p><%= comment.body %></p>
<% end %>

<%= form_with(model: @comment, url: post_comments_path(@post)) do |f| %>
  <h3>Add A Comment</h3>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <%= @comment.errors.full_messages if @comment.errors.any? %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
